<div class="card__content" style="margin-top: 0; padding-top: 0;">
  <% if country = user.country %>
    <p><%= t(".country") + " " %><b><%= country%></b></p>
  <% end %>

  <% if languages = user.languages.presence %>
    <p><%= t '.i_speak', languages: languages.to_sentence %></p>
  <% end %>
    <p>
      <strong>Pronouns:</strong>
      
    <% unless user.pronouns == nil || user.pronouns == []  %>
      <% user.pronouns.each_with_index do |pronoun, index| %>
        <span><%= pronoun.capitalize %></span> <%= '/' unless user.pronouns.size-1 == index %>
      <% end %>
    <% else %>
      No pronouns have been selected
    <% end %>
    </p>

  <% if areas_of_interest = user.areas_of_interest.presence %>
    <p><%= t '.areas_of_interest', areas: areas_of_interest.to_sentence %></p>
  <% end %>

  <% if user.about_me.present? %>
    <%= sanitize user.about_me %>
  <% end %>

  <% if user.public_email? %>
    <p><%= t '.you_can_reach_me_html', mail: mail_to(user.email) %></p>
  <% end %>

  <% if current_user&.admin? %>
    <h1 class="profile--sidebar--title">
      <div><strong>Private information</strong></div>
    </h1>
    <% unless user.public_email? %>
      <p>Email: <%= user.email %>
    <% end %>
    <% if working_groups = user.working_groups %>
    <p><b>Working groups: </b>
      <%= working_groups.empty? ? "No working groups have been selected" :  working_groups.to_sentence %>
    </p>
    <% end %>
    <% unless cultural_background = user.cultural_background.nil? %>
    <p>
      <strong>Cultural background</strong><br>
      <%= user.cultural_background %>
    </p>
    <% end %>
  <% end %>

</div>
